# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
.venv/
venv/
media/
Generator/media/
settings.py
Generator/settings.py
# Django
*.log
staticfiles/
media/pdfs/

# Environment variables
.env

# OS
.DS_Store
